h1 {
  text-align: center;
  color: #823930;
  font-weight: 500;
  font-family: 'Merriweather', serif;
}

h2 {
  color: #823934;
  font-weight: 800; 
  font-family: 'Merriweather', serif;
}

h3 {
  color: #823930;
  font-weight: 600;
  font-family: 'Merriweather', serif;
}

body {
  background-color: #eee;
  text-align: center;
  font-family: 'Merriweather', serif;
}
