h1 {
  text-align: center;
  color: #823930;
  font-weight: 500;
}

h2 {
  color: #823934;
  font-weight: 800; 
}

h3 {
  color: #823930;
  font-weight: 600;
}

body {
  background-color: #eee;
  text-align: center;
}

.button {
  width: 570px;
  height: 64px;
  display:block;
  background-image:url(images/downloadbutton.png);
  background-
  position: top;
}
